<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Loss</key>
	<array>
		<string>00What_is</string>
		<string>01Be_unattached</string>
		<string>02Desire_things</string>
		<string>03Nothing_is</string>
		<string>04Remind_yourself</string>
		<string>06Do_not</string>
		<string>07Be_ready</string>
		<string>09You_cannot</string>
		<string>19Death_makes</string>
		<string>24React_the</string>
		<string>34Know_your</string>
	</array>
	<key>Anger</key>
	<array>
		<string>00What_is</string>
		<string>01Be_unattached</string>
		<string>02Desire_things</string>
		<string>03Nothing_is</string>
		<string>04Remind_yourself</string>
		<string>18You_decide</string>
		<string>25The_evil</string>
		<string>26Don&apos;t_let</string>
		<string>28Be_good</string>
		<string>29Good_and</string>
		<string>36Moderation_is</string>
		<string>39Do_not</string>
		<string>40Use_wisdom</string>
		<string>42Dont_judge</string>
	</array>
	<key>Sadness</key>
	<array>
		<string>00What_is</string>
		<string>01Be_unattached</string>
		<string>02Desire_things</string>
		<string>03Nothing_is</string>
		<string>04Remind_yourself</string>
		<string>05Our_view</string>
		<string>12Do_not</string>
		<string>15Act_the</string>
		<string>16Every_circumstance</string>
		<string>19Death_makes</string>
		<string>20Be_prepared</string>
		<string>21Externals_should</string>
		<string>24React_the</string>
		<string>26Don&apos;t_let</string>
		<string>29Good_and</string>
		<string>34Know_your</string>
		<string>36Moderation_is</string>
	</array>
	<key>Anxiety</key>
	<array>
		<string>00What_is</string>
		<string>01Be_unattached</string>
		<string>02Desire_things</string>
		<string>03Nothing_is</string>
		<string>05Our_view</string>
		<string>10The_price</string>
		<string>11Be_indifferent</string>
		<string>12Do_not</string>
		<string>13Be_indifferent</string>
		<string>16Every_circumstance</string>
		<string>19Death_makes</string>
		<string>20Be_prepared</string>
		<string>21Externals_should</string>
		<string>26Don&apos;t_let</string>
		<string>30Be_indifferent</string>
	</array>
	<key>Envy</key>
	<array>
        <string>00What_is</string>
        <string>01Be_unattached</string>
        <string>02Desire_things</string>
        <string>03Nothing_is</string>
		<string>06Do_not</string>
		<string>09You_cannot</string>
		<string>13Be_indifferent</string>
		<string>15Act_the</string>
        <string>17Seek_freedom</string>
        <string>41Superficial_qualities</string>
        <string>45You_should</string>
	</array>
	<key>Persevere</key>
	<array>
        <string>00What_is</string>
        <string>01Be_unattached</string>
        <string>02Desire_things</string>
        <string>03Nothing_is</string>
        <string>08Seek the</string>
        <string>23The_price</string>
        <string>27Understand_the</string>
        <string>31Think_clearly</string>
        <string>32Do_good</string>
        <string>46Action_matters</string>
        <string>47Put_your</string>
	</array>
    <key>Discipline</key>
    <array>
        <string>00What_is</string>
        <string>01Be_unattached</string>
        <string>02Desire_things</string>
        <string>03Nothing_is</string>
        <string>08Seek the</string>
        <string>22Do_not</string>
        <string>27Understand_the</string>
        <string>31Think_clearly</string>
        <string>35Guard_against</string>
        <string>37Perceive_your</string>
        <string>38Your_main</string>
        <string>43Don't_talk</string>
        <string>44Do_not</string>
        <string>46Action_matters</string>
        <string>47Put_your</string>
    </array>
    <key>Empathy</key>
    <array>
        <string>00What_is</string>
        <string>01Be_unattached</string>
        <string>02Desire_things</string>
        <string>03Nothing_is</string>
        <string>14Be_kind</string>
        <string>28Be_good</string>
        <string>33Appreciate_others</string>
        <string>39Do_not</string>
        <string>40Use_wisdom</string>
        <string>42Dont_judge</string>
    </array>
    <key>Courage</key>
    <array>
        <string>00What_is</string>
        <string>01Be_unattached</string>
        <string>02Desire_things</string>
        <string>03Nothing_is</string>
        <string>19Death_makes</string>
        <string>22Do_not</string>
        <string>23The_price</string>
        <string>27Understand_the</string>
        <string>32Do_good</string>
    </array>
</dict>
</plist>
